h1 {
    color: darkgreen;
  }
  
  
  #wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
 #content {
    flex-grow: 1;
    background-color: white;
  }
  